.block_game .card-title {
    display: none !important;
}

.block-game-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  .awards,
  .userinfo{
    flex-direction: row;
  }

  .awards {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 10px;

    .score,
    .badges {
      flex-direction: row;
    }

    .score {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;

      border-radius: 30px;
      padding: 6px 20px 8px 8px;
      background: linear-gradient(90deg, rgba(51, 41, 255, 1) 0%, rgba(51, 41, 255, 1) 22%,  rgba(0, 240, 166, 1) 100%);

      .icon,
      .points {
        flex-direction: row;
      }

      .icon {
        navigation

        .evocoin {
          width: 28px;
        }
      }

      .points {
        background-color: #fff;
        padding: 4px;
        border-radius: 6px;
      }
    }

    .navigation .btn {
      margin-left: 0.5rem;
      border-radius: 40px;
      font-size: calc(0.9271875rem + 0.32625vw);
      padding: 12px;

      .icon {
        font-size: 22px;
        width: 24px;
        height: 24px;
      }
    }

    .badges {
      border-radius: 40px;
      border: 1px solid rgba(0, 240, 166, 1);
      padding: 12px;
      margin-left: 0.5rem;

      .evokebadge {
        width: 32px;

        &.dimmed {
          filter: grayscale(100%) opacity(30%);
        }
      }
    }
  }

  .userinfo {
    margin-left: auto;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 17px 15px 17px 30px;
    position: relative;

    .username,
    .userpicture {
      flex-direction: row;
    }

    .username {
      font-size: 28px;
      font-family: "Bangers", cursive;
      margin-right: 100px;
    }

    .userpicture .img-fluid {
      width: 100px;
      position: absolute;
      right: 0;
      top: -12px;
    }
  }
}

#page-blocks-game-rank_game {
  .table {
    font-family: "Bangers", cursive;
  }

  .thead-dark th {
    background-color: #ff0540;
    border-color: #f62657;
  }

  .evokebadge {
    width: 32px;

    &.dimmed {
      filter: grayscale(100%) opacity(30%);
    }
  }
}

.path-blocks-game .leaderboard-table td {
  vertical-align: middle;
}

#block-region-side-pre {
  .block-game-wrapper {
    display: flex;
    flex-flow: column wrap;

    .awards,
    .navigation,
    .userinfo {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-content: space-between;
      align-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .navigation {
      margin: 2rem 0;
    }

    .userinfo {
      margin: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .block-game-wrapper {
    display: flex;
    flex-flow: column wrap;

    .awards,
    .userinfo {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-content: space-between;
      align-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .navigation {
      .btn {
        padding: 12px 14px !important;

        .icon {
          margin-right: 0;
        }

        .text {
          display: none;
        }
      }
    }

    .userinfo {
      flex-direction: row-reverse;
      margin: 20px 0 0 0;
    }
  }
}
