$mellowyellow: #edd661 !default;
$urgentblue: #27c0e3 !default;
$whale: #498eb3 !default;
$night: #27c0e3 !default;
$rhubarb: #ff6666 !default;
$evoke: #ff0540 !default;
$brightmint: #00f0a6 !default;
$forestgreen: #153213 !default;
$poisonousgreen: #b8f907 !default;
$brightblue: #3329ff !default;
$livingblack: #140f3f !default;
$purple: #9933ff !default;
$cyclamen: #ff66ff !default;
$backgroundgray: #f7f7f7 !default;

h1,
.h1 {
  font-size: 3.25rem
}

nav.navbar {
  background: #000000;
  background-image: linear-gradient(
                  to right,
                  #000000 40%, $livingblack 60%
  ) !important;

  .drawer-toggle {
    background-color: #000000;
  }

  .navbar-brand .logo img {
    max-height: 30px;
  }

  .navbar-brand .svg_logo_white {
    max-height: 30px;
    width: inherit;

    &:hover .letter {
      filter: drop-shadow(0px 0px 12px rgb(39 192 227))
    }
  }
}

body,
[data-region="blocks-column"] {
  background-color: #ffffff !important;
}

.card {
  border: none;

  .card-footer {
    border-top: none;
  }
}

.card-deck {
  .card {
    border: 1px solid #d7dfe3;

    .card-footer {
      border-top: 1px solid #d7dfe3;
    }
  }
}

#page-my-index {
  .singlebutton {
    margin-left: 0;

    .btn {
      background-color: $evoke;
      border-color: $evoke;

      &:hover,
      &:active {
        background-color: darken($evoke, 10);
        border-color: darken($evoke, 10);
      }
    }
  }

  #region-main-box #region-main .card:not([class*="dashboard-card"]):not([class*="mymaincontent"]) {
    border-top: solid 2px $brightmint;
  }
}

#page-site-index {
  h1,
  .h1 {
    font-size: 3.25rem;
  }

  #frontpage-available-course-list h2 {
    color: $brightmint;
    text-align: left;

    &:before,
    &:after {
      display: none;
    }
  }

  .card-title a {
    color: $livingblack;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .coursecat.badge-info {
    background-color: $night;
  }
}

#sidepreopen-control {
  background-color: $livingblack;
}

nav.navbar {
  background-color: $livingblack;

  .popover-region-toggle {
    color: $brightmint;
  }

  .nav-link {
    color: $brightmint !important;
  }

  .drawer-toggle .nav-link {
    color: $brightmint !important;
  }

  .dropdown-item:active,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:focus-within {
    background-color: $livingblack;
  }

  .usermenu {
    .dropdown-toggle {
      color: $brightmint !important;
    }
  }
}

#nav-drawer {
  .list-group .list-group-item a:hover {
    color: $livingblack;
  }

  .list-group-item-action.active,
  .list-group-item.active {
    background-color: $brightmint;
    color: $livingblack;

    a {
      color: $livingblack;
    }
  }
}

#nav-drawer-footer {
  background-color: $evoke;
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus, [role="button"].focus, [role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus, input[type="checkbox"].focus, input[type="checkbox"]:focus, input[type="radio"].focus, input[type="radio"]:focus, input[type="file"].focus, input[type="file"]:focus, input[type="image"].focus, input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus, a.dropdown-toggle.focus, a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus, button.close.focus, button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 240 166 / 75%);
}

#page-footer {
  height: 50px;
  background-color: $livingblack;
  .madeby {
    padding-bottom: 0;

    p {
      padding: .75rem 0;
    }
  }
}

.btn-primary {
  background-color: $evoke;
  border-color: $evoke;
  color: #fff;

  &:hover {
    background-color: darken($evoke, 10);
    border-color: darken($evoke, 10);
  }
}

.btn-secondary {
  background-color: $whale;
  border-color: $whale;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken($whale, 10);
    border-color: darken($whale, 10);
  }
}

.btn-light {
  background-color: $brightmint;
  border-color: $brightmint;
  color: $livingblack;

  &:hover {
    background-color: darken($brightmint, 10);
    border-color: darken($brightmint, 10);
  }
}

.btn-dark {
  background-color: $livingblack;
  border-color: $livingblack;
  color: $brightmint;

  &:hover {
    background-color: darken($livingblack, 10);
    border-color: darken($livingblack, 10);
  }
}

#page-navbar {
  .page-header-headings h1 {
    font-size: 1.34375rem;
  }

  .breadcrumb {
    background-color: initial;

    li {
      .no-link {
        background-color: initial;
        border-color: initial;
      }

      &:first-of-type > * {
        padding-left: 0;
      }

      &:last-of-type > * {
        font-weight: 700;
      }

      > * {
        background-color: initial;
        border-color: initial;
        padding: .4em .6em;

        &:after {
          border: 5px solid transparent;
          border-left-color: inherit;
          border-left-width: 5px;
          top: 12px;
        }
      }

      a {
        font-size: 1rem;
      }
    }
  }
}

.pagelayout-incourse {
  .generalbox {
    p {
      font-size: 1.5rem;
      color: $livingblack;
    }
  }

  .activity-navigation {
    background-color: $backgroundgray;
  }
}

.page-context-header .page-header-headings,
.page-context-header .header-button-group {
  padding-top: 18px;
}

#nav-drawer {
  .list-group {
    .list-group-item {
      &[data-key="evokehome"] a:before {
        content: "\e069";
      }
      &[data-key="portfolios"] a:before {
        content: "\e04b";
      }
      &[data-key="chatincourse"] a:before {
        content: "\e07d";
      }
      &[data-key="superpowers"] a:before {
        content: "\e006";
      }
    }
  }
}

.evoke-breadcrumbs .singlebutton {
  margin-right: 40px;
}

.evoke-settings-menu {
  position: absolute;
  right: 17px;
  top: 75px;
}

.notification-area .content-area .header .image-container {
  display: flex;
}

@media (min-width: 1200px) {
  .pagelayout-incourse {
    #page {
      max-width: 980px;
      margin-left: 0;
    }
  }
}