$font-family-body: "Roboto", sans-serif !default;
$font-family-headings: "Bungee", cursive !default;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #140f3f;
  font-family: $font-family-headings;
}

:root {
  --font-family-sans-serif: $font-family-body;
}

body {
  font-family: $font-family-body;
}

